# MySQL
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=security_scanner
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password

# Symfony
APP_ENV=dev
APP_SECRET=change_me_to_a_random_secret
CORS_ALLOW_ORIGIN=http://localhost:3000

# Git Integration
GIT_TOKEN=

# Frontend
VITE_API_URL=http://localhost:8080
