
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/reports/
/var/
/vendor/
Dockerfile
###< symfony/framework-bundle ###
docker/